{% extends "base.html" %}
{% set active_page = "index" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <h1>Hi, {{ g.user.username }}!</h1>
    <div><p>请根据<b>左侧导航栏</b>中进行相关操作！</p></div>
    <div>
        <p>若无课程，请先&nbsp;&nbsp;
            <button type="submit" class="btn btn-primary" name="do_action"  data-toggle="modal" data-target="#myModal">创建课程
            </button>
            &nbsp;&nbsp;再进行相关操作！
        </p>
    </div>
</div>

<!--模态框-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="close_tips()">×</button>
                <h4 class="modal-title" id="myModalLabel">创建课程</h4>
            </div>
            <div class="modal-body">
                <table>
                    <tr>
                        <td><b>请输入课程名:&nbsp;&nbsp;</b></td>
                        <td><input type="text" class="form-control" size="20"></td>
                    </tr>
                    <div class="alert alert-success reminder" role="alert" style="display: none;">
                    </div>

                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="close_tips()">关闭</button>
                <button type="submit" class="btn btn-primary summit" onclick="create_course()">确认</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
{% endblock %}
