{% extends "base.html" %}
{% set active_page = "marking" %}

{% block content %}


<div class="nav marking_nav">
    <form action="{{ url_for('marking') }} " method="post">
        {{ form.hidden_tag() }}
        <table>
            <tr>
                <td><b>请选择课程:&nbsp;&nbsp;</b></td>
                <td>{{form.course_id(class="marking_selector")}}</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td><b>请选择作业批次:&nbsp;&nbsp;</b></td>
                <td>{{form.homework_batch(class="marking_selector")}}</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>
                    <button type="submit" class="btn btn-primary " name="do_action" value="marking">查&nbsp;&nbsp;询
                    </button>
                </td>
            </tr>

        </table>
    </form>

</div>

<div class="panel panel-default">

    <div class="panel-body">
        <table class="table table-hover">
            <tr>
                <td><b>作业批次</b></td>
                <td><b>作业描述</b></td>
                <td><b>发布时间</b></td>
                <td><b>截止时间</b></td>
                <td><b>上传情况</b></td>
                <td><b>状态</b></td>
            </tr>


            {% if homework %}
            {% for i in homework %}
            <tr onclick="search_homework({{i.id}})">
                <td>{{ i.batch|e }}</td>
                <td>{{ i.homework_describe|e }}
                    {% if i.attach %}
                    <button type="button" class="btn btn-default btn-xs" onclick="window.open('{{i.attach}}')">
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                        查看附件
                    </button>
                    {% endif %}
                </td>
                <td>{{ i.start_time|e }}</td>
                <td>{{ i.end_time|e }}</td>
                <td>{{ i.upload_num|e }}/{% if course_info.num %} {{course_info.num}} {% else %}0{% endif %}</td>
                <td>{{ i.status|e }}</td>
            </tr>
            {% endfor %}
            {% endif %}


        </table>
    </div>

</div>

<div class="panel panel-default">
    <div class="panel-heading">
    </div>
    <div class="panel-body">
        <table class="table table-hover homework_info">
            <tr>
                <td><b>学号</b></td>
                <td><b>姓名</b></td>
                <td><b>完成时间</b></td>
                <td><b>作业内容</b></td>
                <td><b>评分</b></td>
                <td><b>评语</b></td>
            </tr>

        </table>

    </div>
</div>

<!--模态框-->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="close_tips()">×
                </button>
                <h4 class="modal-title" id="myModalLabel">评分和评语</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>请输入评分:&nbsp;&nbsp;</label>
                        <input type="text" class="form-control input_score" size="20" required></td>

                    </div>

                    <div class="form-group">
                        <label>请输入评语:&nbsp;&nbsp;</label>
                        <textarea class="form-control input_comment" size="20" rows="3" required></textarea>

                    </div>

                </form>

                <div class="alert alert-success reminder" role="alert" style="display: none;">
                </div>



            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="close_modal()">关闭</button>
                <button type="submit" class="btn btn-primary summit" onclick="score_comment()">确认</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>


<div id="loading" style="display:none;">
    <input type="image" src="{{ url_for('static',filename='img/loading.gif') }}">
</div>

<div id="hiding" style="display:none;">
</div>

{% endblock %}


{% block footer %}

<script src="{{ url_for('static',filename='js/search_homework.js') }}"></script>
<script src="{{ url_for('static',filename='js/marking.js') }}"></script>


{% endblock %}