{% extends "base.html" %}
{% set active_page = "{{course_info.course_name}}" %}

{% block content %}


<div class="nav class_section">
    <ul class="nav navbar-nav navbar-left">
        <li>
            <b>课程名:&nbsp;&nbsp;</b>
            {{course_info.course_name}}

        </li>
        <li>
            <b>课程邀请码:&nbsp;&nbsp;</b>
            {{course_info.id}}
        </li>
        <li>
            <b>课程人数:&nbsp;&nbsp;</b>
            {% if course_info.num %}
            {{course_info.num}}
            {% else %}
            0
            {% endif %}
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li>

            <button type="submit" class="btn btn-primary" name="do_action" data-toggle="modal" data-target="#myModal">
                创建课程
            </button>

        </li>
        <li>

            <button type="submit" class="btn btn-info sub-btn" name="do_action" value="run"
                    onclick="window.location.href = '{{url_for('work_arrange')}}'">布置作业
            </button>
        </li>

    </ul>
</div>
<!--模态框-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="close_tips()">×
                </button>
                <h4 class="modal-title" id="myModalLabel">创建课程</h4>
            </div>
            <div class="modal-body">
                <table>
                    <tr>
                        <td><b>请输入课程名:&nbsp;&nbsp;</b></td>
                        <td><input type="text" class="form-control" size="20"></td>
                    </tr>
                    <div class="alert alert-success reminder" role="alert" style="display: none;">
                    </div>

                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="close_tips()">关闭</button>
                <button type="submit" class="btn btn-primary summit" onclick="create_course()">确认</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<div class="panel panel-default">
    <div class="panel-heading">
    </div>
    <div class="panel-body">
        <table class="table table-hover">
            <tr>
                <td><b>作业批次</b></td>
                <td><b>作业描述</b></td>
                <td><b>发布时间</b></td>
                <td><b>截止时间</b></td>
                <td><b>上传情况</b></td>
                <td><b>状态</b></td>
            </tr>

            {% if homework %}
            {% for i in homework %}
            <tr>
                <a href="#">
                    <td>{{ i.batch|e }}</td>
                    <td>{{ i.homework_describe|e }}
                        {% if i.attach %}
                        <button type="button" class="btn btn-default btn-xs" onclick="window.open('{{i.attach}}')">
                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                            查看附件
                        </button>
                        {% endif %}
                    </td>
                    <td>{{ i.start_time|e }}</td>
                    <td>{{ i.end_time|e }}</td>
                    <td>{{ i.upload_num|e }}/{% if course_info.num %} {{course_info.num}} {% else %}0{% endif %}</td>
                    <td>{{ i.status|e }}</td>
                </a>
            </tr>
            {% endfor %}
            {% endif %}


        </table>

    </div>
</div>


<div id="loading" style="display:none;">
    <input type="image" src="{{ url_for('static',filename='img/loading.gif') }}">
</div>

<div id="hiding">
    {% if failed_host %}
    <div class="alert alert-danger" role="alert">
        <b>ERROR:</b> Failed to connect to host <b>{{ failed_host }}</b> port 22: Network is unreachable.
    </div>
    {% elif failed_auth %}
    <div class="alert alert-danger" role="alert">
        <b>ERROR:</b> Failed to connect to host <b>{{ master_hostname }}</b> port 22: Authentication failed.
    </div>
    {% elif none_host %}
    <div class="alert alert-danger" role="alert">
        <b>ERROR:</b> Please choose a <b>master_hostname</b> at first.
    </div>
    {% elif failed_cmd %}
    <div class="alert alert-danger" role="alert">
        <b>ERROR:</b> Failed to execute command <b>'{{ cmd }}'</b> on host <b>{{ master_hostname }}</b>.
    </div>
    <div class="panel panel-danger">
        <div class="panel-heading">
            <h3 class="panel-title">Output</h3>
        </div>
        <div class="panel-body">
            {% if out.stderr %}
            <pre class="text-danger bg-danger">{{ out.stderr }}</pre>
            {% endif %}
            {% if out.stdout %}
            <pre class="text-danger bg-danger">{{ out.stdout }}</pre>
            {% endif %}
        </div>
    </div>
    {% elif succeeded_cmd %}
    <div class="alert alert-success" role="alert">
        <b>OK:</b> Succeeded to execute command <b>'{{ cmd }}'</b> on host <b>{{ master_hostname }}</b>.
    </div>
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">Output</h3>
        </div>
        <div class="panel-body">
            <pre class="text-success bg-success">{{ out.stdout }}</pre>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}


